<h1>Listing executive_committees</h1>

<table>
  <tr>
    <th>Year</th>
    <th>Golfer</th>
    <th>Executive position</th>
    <th>Comments</th>
  </tr>

<% @executive_committees.each do |executive_committee| %>
  <tr>
    <td><%=h executive_committee.year %></td>
    <td><%=h executive_committee.golfer_id %></td>
    <td><%=h executive_committee.executive_position_id %></td>
    <td><%=h executive_committee.comments %></td>
    <td><%= link_to 'Show', executive_committee %></td>
    <td><%= link_to 'Edit', edit_executive_committee_path(executive_committee) %></td>
    <td><%= link_to 'Destroy', executive_committee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New executive_committee', new_executive_committee_path %>