<h1>Listing ringer_scores</h1>

<table>
  <tr>
    <th>Golfer</th>
    <th>Year</th>
    <th>Date of play</th>
    <th>Group</th>
    <th>Hole1</th>
    <th>Hole2</th>
    <th>Hole3</th>
    <th>Hole4</th>
    <th>Hole5</th>
    <th>Hole6</th>
    <th>Hole7</th>
    <th>Hole8</th>
    <th>Hole9</th>
    <th>Gross</th>
    <th>Rounds</th>
    <th>Handicap</th>
    <th>Net</th>
    <th>Flight</th>
    <th>Points</th>
  </tr>

<% @ringer_scores.each do |ringer_score| %>
  <tr>
    <td><%=h ringer_score.golfer_id %></td>
    <td><%=h ringer_score.year %></td>
    <td><%=h ringer_score.date_of_play %></td>
    <td><%=h ringer_score.group %></td>
    <td><%=h ringer_score.hole1 %></td>
    <td><%=h ringer_score.hole2 %></td>
    <td><%=h ringer_score.hole3 %></td>
    <td><%=h ringer_score.hole4 %></td>
    <td><%=h ringer_score.hole5 %></td>
    <td><%=h ringer_score.hole6 %></td>
    <td><%=h ringer_score.hole7 %></td>
    <td><%=h ringer_score.hole8 %></td>
    <td><%=h ringer_score.hole9 %></td>
    <td><%=h ringer_score.gross %></td>
    <td><%=h ringer_score.rounds %></td>
    <td><%=h ringer_score.handicap %></td>
    <td><%=h ringer_score.net %></td>
    <td><%=h ringer_score.flight %></td>
    <td><%=h ringer_score.points %></td>
    <td><%= link_to 'Show', ringer_score %></td>
    <td><%= link_to 'Edit', edit_ringer_score_path(ringer_score) %></td>
    <td><%= link_to 'Destroy', ringer_score, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ringer_score', new_ringer_score_path %>