<p>
  <b>Golfer:</b>
  <%=h @ringer_score.golfer_id %>
</p>

<p>
  <b>Year:</b>
  <%=h @ringer_score.year %>
</p>

<p>
  <b>Date of play:</b>
  <%=h @ringer_score.date_of_play %>
</p>

<p>
  <b>Group:</b>
  <%=h @ringer_score.group %>
</p>

<p>
  <b>Hole1:</b>
  <%=h @ringer_score.hole1 %>
</p>

<p>
  <b>Hole2:</b>
  <%=h @ringer_score.hole2 %>
</p>

<p>
  <b>Hole3:</b>
  <%=h @ringer_score.hole3 %>
</p>

<p>
  <b>Hole4:</b>
  <%=h @ringer_score.hole4 %>
</p>

<p>
  <b>Hole5:</b>
  <%=h @ringer_score.hole5 %>
</p>

<p>
  <b>Hole6:</b>
  <%=h @ringer_score.hole6 %>
</p>

<p>
  <b>Hole7:</b>
  <%=h @ringer_score.hole7 %>
</p>

<p>
  <b>Hole8:</b>
  <%=h @ringer_score.hole8 %>
</p>

<p>
  <b>Hole9:</b>
  <%=h @ringer_score.hole9 %>
</p>

<p>
  <b>Gross:</b>
  <%=h @ringer_score.gross %>
</p>

<p>
  <b>Rounds:</b>
  <%=h @ringer_score.rounds %>
</p>

<p>
  <b>Handicap:</b>
  <%=h @ringer_score.handicap %>
</p>

<p>
  <b>Net:</b>
  <%=h @ringer_score.net %>
</p>

<p>
  <b>Flight:</b>
  <%=h @ringer_score.flight %>
</p>

<p>
  <b>Points:</b>
  <%=h @ringer_score.points %>
</p>


<%= link_to 'Edit', edit_ringer_score_path(@ringer_score) %> |
<%= link_to 'Back', ringer_scores_path %>