<%content_for :left do%>
<h1>Listing yearlies</h1>

<table>
  <tr>
    <th>Golfer</th>
    <th>Year</th>
    <th>Dues amount paid</th>
    <th>Check num</th>
    <th>Luncheon amt paid</th>
    <th>Luncheon meal</th>
    <th>Luncheon check num</th>
    <th>Comments</th>
  </tr>

<% @yearlies.each do |yearly| %>
  <tr>
    <td><%=h yearly.golfer_id %></td>
    <td><%=h yearly.year %></td>
    <td><%=h yearly.dues_amount_paid %></td>
    <td><%=h yearly.check_num %></td>
    <td><%=h yearly.luncheon_amt_paid %></td>
    <td><%=h yearly.luncheon_meal %></td>
    <td><%=h yearly.luncheon_check_num %></td>
    <td><%=h yearly.comments %></td>
    <td><%= link_to 'Show', yearly %></td>
    <td><%= link_to 'Edit', edit_yearly_path(yearly) %></td>
    <td><%= link_to 'Destroy', yearly, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New yearly', new_yearly_path %>

<%end%>