<%content_for :left do%>
<h1>New daily</h1>

<% form_for(@daily) do |f| %>
  <%= f.error_messages %>



  <p>
    <%= f.label :golfer_id %><br />
   <%= collection_select(:daily, :golfer_id, Golfer.all, :id, :lastname ) %>
  </p>
  <p>
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
 
    
   
  

  <table>
    <tr>
      <th>Hole #</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>Total</th>
    </tr>
    <tr>
      <td style="width:30px;">Putts</td>
      <td class="score"><%= f.text_field :hole1, :size=>'1' %></td>
      <td class="score"><%= f.text_field :hole2, :size=>'1' %></td>
      <td class="score"><%= f.text_field :hole3, :size=>'1' %></td>
      <td class="score"><%= f.text_field :hole4, :size=>'1' %></td>
      <td class="score"><%= f.text_field :hole5, :size=>'1' %></td>
      <td class="score"><%= f.text_field :hole6, :size=>'1' %></td>
      <td class="score"><%= f.text_field :hole7, :size=>'1' %></td>
      <td class="score"><%= f.text_field :hole8, :size=>'1' %></td>
      <td class="score"><%= f.text_field :hole9, :size=>'1' %></td>
      <td class="score" align="center">20</td>
    </tr>
    <tr>
      <td style="width:30px;">Strokes</td>
      <td class="score"><%= f.text_field :putts1, :size=>'1' %></td>
      <td class="score"><%= f.text_field :putts2, :size=>'1' %></td>
      <td  class="score"><%= f.text_field :putts3, :size=>'1' %></td>
      <td class="score"><%= f.text_field :putts4, :size=>'1' %></td>
      <td class="score"><%= f.text_field :putts5, :size=>'1' %></td>
      <td class="score"><%= f.text_field :putts6, :size=>'1' %></td>
      <td class="score"><%= f.text_field :putts7, :size=>'1' %></td>
      <td class="score"><%= f.text_field :putts8, :size=>'1' %></td>
      <td class="score"><%= f.text_field :putts9, :size=>'1' %></td>
      <td class="score" align="center">20</td>
    </tr>

  </table>

  
 
  
  <p>
    <%= f.label :gross %><br />
    <%= f.text_field :gross %>
  </p>
  <p>
    <%= f.label :handicap %><br />
    <%= f.text_field :handicap %>
  </p>
  <p>
    <%= f.label :net %><br />
    <%= f.text_field :net %>
  </p>
 
  <p>
    <%= f.label :flight %><br />
    <%= f.text_field :flight %>
  </p>
  <p>
    <%= f.label :points %><br />
    <%= f.text_field :points %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', dailies_path %>
  <%end%>

   <%content_for :right do%>

   <div align="left" id="adminpanel">
    <h2 style="color:#fff;">Tips</h2>
    <span style="color:#fff;">We hope you had a great game today. We look forward to golfing with you again.
      <br> <h3>Helpful Links</h3> <a href="http://golf.about.com/od/golftips/ss/golf_setup.htm">Step by Step to the Proper Golf Setup Position</a>
      <br><a href="http://golf.about.com/od/golftips/a/tips_putting.htm">Putting Tips & More</a>

    </span>
   </div>

  <%end%>