<%content_for :left do%>
<p>
  <b>Golfer:</b>
  <%=h @daily.golfer_id %>
</p>

<p>
  <b>Year:</b>
  <%=h @daily.year %>
</p>

<p>
  <b>Date of play:</b>
  <%=h @daily.date_of_play %>
</p>

<p>
  <b>Group:</b>
  <%=h @daily.group %>
</p>

<p>
  <b>Hole1:</b>
  <%=h @daily.hole1 %>
</p>

<p>
  <b>Hole2:</b>
  <%=h @daily.hole2 %>
</p>

<p>
  <b>Hole3:</b>
  <%=h @daily.hole3 %>
</p>

<p>
  <b>Hole4:</b>
  <%=h @daily.hole4 %>
</p>

<p>
  <b>Hole5:</b>
  <%=h @daily.hole5 %>
</p>

<p>
  <b>Hole6:</b>
  <%=h @daily.hole6 %>
</p>

<p>
  <b>Hole7:</b>
  <%=h @daily.hole7 %>
</p>

<p>
  <b>Hole8:</b>
  <%=h @daily.hole8 %>
</p>

<p>
  <b>Hole9:</b>
  <%=h @daily.hole9 %>
</p>

<p>
  <b>Putts1:</b>
  <%=h @daily.putts1 %>
</p>

<p>
  <b>Putts2:</b>
  <%=h @daily.putts2 %>
</p>

<p>
  <b>Putts3:</b>
  <%=h @daily.putts3 %>
</p>

<p>
  <b>Putts4:</b>
  <%=h @daily.putts4 %>
</p>

<p>
  <b>Putts5:</b>
  <%=h @daily.putts5 %>
</p>

<p>
  <b>Putts6:</b>
  <%=h @daily.putts6 %>
</p>

<p>
  <b>Putts7:</b>
  <%=h @daily.putts7 %>
</p>

<p>
  <b>Putts8:</b>
  <%=h @daily.putts8 %>
</p>

<p>
  <b>Putts9:</b>
  <%=h @daily.putts9 %>
</p>

<p>
  <b>Gross:</b>
  <%=h @daily.gross %>
</p>

<p>
  <b>Handicap:</b>
  <%=h @daily.handicap %>
</p>

<p>
  <b>Net:</b>
  <%=h @daily.net %>
</p>

<p>
  <b>Total putts:</b>
  <%=h @daily.total_putts %>
</p>

<p>
  <b>Flight:</b>
  <%=h @daily.flight %>
</p>

<p>
  <b>Points:</b>
  <%=h @daily.points %>
</p>


<%= link_to 'Edit', edit_daily_path(@daily) %> |
<%= link_to 'Back', dailies_path %>
<%end%>