<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>JWGL Golf League</title>
	<%= stylesheet_link_tag "style" %>
        <meta name="description" content="Golf League for women" />
</head>

<body>
<div id="container" >
  <div id="header">
   <div id="logo"><h1><%=link_to image_tag("logo.png",:border=>0),"/"%></h1></div>
   <div id="controlpanel"><a href="#">Login</a> | <%=link_to "Admin", golfers_path%> </div>
   <div id="nav">
     <ul>
       <li><%=link_to "Home", "/"%></li>
       <li><%=link_to "About", about_path%></li>
       <li><a href="#">League</a></li>
       <li><a href="#">Sunshine</a></li>
       <li><a href="#">Events</a></li>
       <li><a href="#">Pics/Officers</a></li>
     </ul>
   </div>
   <div class="clear"></div>
  </div>
  <div id="main">
   <div class="strip"></div>
   <% if params[:controller] == 'home'%> <% image_tag "golf.jpg" %><%end%>
   
   <div id="left">
      <%= yield :left %>
   </div>
   <div id="right">

<% if params[:controller] != 'home'
if params[:controller] != 'dailies'
%>
  <div align="left" id="adminpanel">
    <h2 style="color:#fff;">Admin Panel</h2>
     <%=link_to "Manage Golfers", golfers_path%><br>
    <%=link_to "Manage Yearlies", yearlies_path%><br>
    <%=link_to "Manage Flights", flights_path%><br>
     <%=link_to "Manage Executive Positions", executive_positions_path%><br>
     <%=link_to "Manage Ringer Scores", ringer_scores_path%><br>
  </div>
<%end end%>
      <%= yield :right %>
   </div>
   <div class="clear"></div>
  </div>
  <div id="footer">
    
    <div style="padding:10px;text-align:center;">Golf is a game of coordination, rhythm and grace; women have these to a high degree.<br> JWGL Womens Golf</div>
  </div>
 </div>


</body>

</html>
	